body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #3c403f;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  border-bottom: 1px dashed rgb(96 125 139 / 15%);
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 28px;
}

.playground {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 24px;
}

.playground__row {
  display: flex;
  gap: 4px;
}

.playground__row--active .letter {
  border: 2px solid rgb(96 125 139 / 35%);
}

.letter {
  width: 50px;
  height: 50px;
  display: flex;
  border: 2px solid rgb(96 125 139 / 15%);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  border-radius: 4px;
}

.letter--excluded {
  background-color: rgb(205 205 205 / 90%);
  color: #676767;
}

.letter--matched {
  background-color: #84ca33;
  color: #35580d;
}

.letter--contains {
  background-color: #ffdf57;
  color: #83711e;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 24px;
  width: fit-content;
  gap: 4px;
}

.keyboard__row {
  display: flex;
  gap: 4px;
}

.keyboard__key {
  height: 58px;
  width: 43px;
  background-color: #e7ebec;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
}

.keyboard__key:hover {
  background-color: #d4d8d9;
}

.keyboard__key--excluded {
  background-color: #838a8c;
  color: #e5e5e5;
}

.keyboard__key--matched {
  background-color: #84ca33;
  color: #35580d;
}

.keyboard__key--contains {
  background-color: #ffdf57;
  color: #83711e;
}

.keyboard__key--excluded:hover {
  background-color: #8d9699;
}

.keyboard__key--enter {
  background-image: url('./assets/enter.svg');
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}

.keyboard__key--backspace {
  background-image: url('./assets/backspace.svg');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.keyboard__key--wide {
  width: 85px;
}